/* Darker theme — View → Theme → Darker */

DatabaseWidget:!active,
DatabaseWidget #groupView:!active, DatabaseWidget #tagView:!active,
EntryPreviewWidget *:!active[blendIn="true"] {
    background-color: #232325;
}

DatabaseWidget:disabled,
DatabaseWidget #groupView:disabled, DatabaseWidget #tagView:disabled,
EntryPreviewWidget *:disabled[blendIn="true"] {
    background-color: #262628;
}

QMenu {
    border: 1px solid #333337;
    background-color: #1B1B1D;
}

QMenu::separator {
    height: 1px;
    background-color: #333337;
}

QPushButton:!default:hover {
    /* Using slightly darker shade from palette(button) */
    background: #131315;
}

QPushButton:default:hover, QPushButton:checked:hover {
    /* Using slightly lighter shade from palette(highlight) */
    background: #346034;
}

QToolTip {
    color: #C4C4C4;
    background-color: #244324;
}

QGroupBox {
    background-color: palette(light);
}
